<!--<div class="container-fluid px-0 my-0">-->
<!--  <nav class="navbar navbar-expand-xxl navbar-dark bg-dark">-->
<!--    <a class="navbar-brand p-2" href="#">Remindinator</a>-->
<!--    <div  ngbDropdown class="navbar">-->
<!--      <button ngbDropdownToggle type="button" id="navbarCollapse">-->
<!--        <span class="navbar-toggle-icon"></span>-->
<!--      </button>-->
<!--      <div ngbDropdownMenu aria-labelledby="navbarCollapse">-->
<!--        <a ngbDropdownItem href="#" class="nav-item nav-link active">Home</a>-->
<!--        <a ngbDropdownItem href="#" class="nav-item nav-link">Services</a>-->
<!--        <a ngbDropdownItem href="#" class="nav-item nav-link">About</a>-->
<!--        <a ngbDropdownItem href="#" class="nav-item nav-link">Contact</a>-->
<!--      </div>-->
<!--      </div>-->
<!--      <div class="navbar-nav justify-content-center">-->
<!--        <a routerLink="sign-up" class="nav-item nav-link">Register</a>-->
<!--        <a href="#" class="nav-item nav-link">Login</a>-->
<!--      </div>-->
<!--      <div class="navbar-nav p-2">-->
<!--        <input class="form-control ml-sm-2 align-self-end" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success my-2 my-sm-0">Search</button>-->
<!--      </div>-->

<!--  </nav>-->
<!--</div>-->
<div class="container-fluid px-0 m-0">
  <nav class="navbar bg-dark navbar-dark ">
<div class="row justify-content-between" style="width: 100%">
  <div class="col-4">
    <a class="navbar-brand px-3" routerLink="">Remindinator</a>
  </div>
    <div class="col-4 text-center">
      <a class="mx-3 navbar-brand" routerLink="sign-up">Register</a>
      <a class="mx-3 navbar-brand" routerLink="login">Login</a>
    </div>
    <div class="col-4 d-flex justify-content-end" >
      <input class="form-control w-50 me-1" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 ms-1">Search</button>
    </div>
</div>
  </nav>
</div>
