<div class="container">
  <div class="p-5 my-4 bg-light rounded-3">
    <h1>Welcome to Remindinator!</h1>
    <p class="lead">It's easy to forget your schedule in today's busy world.
      With <a href="https://www.tutorialrepublic.com" class="text-success" target="_blank">remindinator.com</a>
      you can set up and log all of your events in an easy to use space. Not a user? Click on the get started button and never miss an appointment again!</p>
    <a routerLink="sign-up" class="btn btn-success btn-lg">Get started today</a>
  </div>
  <div class="row g-3">
    <div class="col-md-6 col-lg-4 col-xl-3">
      <h2>HTML</h2>
      <p>HTML is the standard markup language for describing the structure of the web pages.
        Our HTML tutorials will help you to understand the basics of latest HTML5 language,
        so that you can create your own website.</p>
      <p><a href="https://www.tutorialrepublic.com/html-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-6 col-lg-4 col-xl-3">
      <h2>CSS</h2>
      <p>CSS is used for describing the presentation of web pages.
        CSS can save a lot of time and effort.
        Our CSS tutorials will help you to learn the essentials of latest CSS3,
        so that you can control the style and layout of your website.</p>
      <p><a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-6 col-lg-4 col-xl-3">
      <h2>JavaScript</h2>
      <p>JavaScript is the most popular and widely used client-side scripting language.
        Our JavaScript tutorials will provide in-depth knowledge of the JavaScript including ES6 features,
        so that you can create interactive websites.</p>
      <p><a href="https://www.tutorialrepublic.com/javascript-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-6 col-lg-4 col-xl-3">
      <h2>Bootstrap</h2>
      <p>Bootstrap is a powerful front-end framework for faster and easier web development.
        Our Bootstrap tutorials will help you to learn all the features of latest Bootstrap 4 framework
        so that you can easily create responsive websites.</p>
      <p><a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-6 col-lg-4 col-xl-3">
    </div>
  </div>
</div>
<router-outlet></router-outlet>
